{% extends 'base.html' %}

{% block title %}Мої бронювання{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Бронювання користувача: {{user.username}}</h2>
    <p><strong>Ваша пошта:</strong> {{ user.email }}</p>
    <p><strong>Дата народження:</strong> {{ user.birth_date }}</p>

    <h4>Майбутні:</h4>
    {% if future_bookings %}
      <ul class="list-group mb-4">
        {% for booking in future_bookings %}
        <li class="list-group-item">
          Створено в <strong>{{ booking.created_at|date:"d.m.Y H:i" }}</strong>
          <div class="d-flex justify-content-between mb-2">
            <div>
              Кімната №{{ booking.room.number }}: <strong>з {{ booking.start_time|date:"d.m.Y H:i" }} до {{ booking.end_time|date:"d.m.Y H:i" }}</strong>
            </div>
            <div>
              Статус бронювання: 
              <strong>{% with booking.get_status_display as status %}
                {% if status == 'Очікує підтвердження' %}
                <span class="text-warning">🟡{{ status }}</span>
                {% elif status == 'Підтверджено' %}
                  <span class="text-success">🟢{{ status }}</span>
                {% else %}
                  <span class="text-danger">🔴{{ status }}</span>
                {% endif %}
              {% endwith %}
              </strong>
            </div>
          </div>
        </li>
          <div class="d-flex justify-content-between mb-2">
            <div>
              <a href="{% url 'edit_booking' booking.pk %}" class="btn btn-outline-success btn-sm">Редагувати бронювання</a>
            </div>
            <div>
              <form action="{% url 'cancel_booking' booking.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success btn-sm">Скасувати бронювання</button>
              </form>
            </div>
          </div>
        {% endfor %}
      </ul>
    {% else %}
      <p>Немає майбутніх бронювань.</p>
    {% endif %}

    <h4>Поточні бронювання:</h4>
    {% if active_bookings %}
      <ul class="list-group mb-4">
        {% for booking in active_bookings %}
          <li class="list-group-item">
            Створено в <strong>{{ booking.created_at|date:"d.m.Y H:i" }}</strong>
            <div class="d-flex justify-content-between mb-2">
              <div>
                Кімната №{{ booking.room.number }}: <strong>з {{ booking.start_time|date:"d.m.Y H:i" }} до {{ booking.end_time|date:"d.m.Y H:i" }}</strong>
              </div>
              <div>
                Статус бронювання: 
                <strong>{% with booking.get_status_display as status %}
                  {% if status == 'Очікує підтвердження' %}
                  <span class="text-warning">🟡{{ status }}
                  {% elif status == 'Підтверджено' %}
                    <span class="text-success">🟢{{ status }}</span>
                  {% else %}
                    <span class="text-danger">🔴{{ status }}</span>
                  {% endif %}
                {% endwith %}
                </strong>
              </div>
            </div>
          </li>
          <div class="d-flex justify-content-between mb-2">
            <div>
              <a href="{% url 'edit_booking' booking.pk %}" class="btn btn-outline-success btn-sm">Редагувати бронювання</a>
            </div>
            <div>
              <form action="{% url 'cancel_booking' booking.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success btn-sm">Скасувати бронювання</button>
              </form>
            </div>
          </div>
        {% endfor %}
      </ul>
    {% else %}
      <p>Немає активних бронювань.</p>
    {% endif %}


    <h4>Минулі:</h4>
    {% if past_bookings %}
      <ul class="list-group">
        {% for booking in past_bookings %}
        <li class="list-group-item">
          Створено в <strong>{{ booking.created_at|date:"d.m.Y H:i" }}</strong>
          <div class="d-flex justify-content-between mb-2">
            <div>
              Кімната №{{ booking.room.number }}: <strong>з {{ booking.start_time|date:"d.m.Y H:i" }} до {{ booking.end_time|date:"d.m.Y H:i" }}</strong>
            </div>
            <div>
              Статус бронювання: 
              <strong>{% with booking.get_status_display as status %}
                {% if status == 'Очікує підтвердження' %}
                <span class="text-warning">🟡{{ status }}
                {% elif status == 'Підтверджено' %}
                  <span class="text-success">🟢{{ status }}</span>
                {% else %}
                  <span class="text-danger">🔴{{ status }}</span>
                {% endif %}
              {% endwith %}
              </strong>
            </div>
          </div>
        </li>
          <div class="d-flex justify-content-between mb-2">
            <div>
              <form action="{% url 'cancel_booking' booking.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success btn-sm">Видалити бронювання</button>
            </div>
          </div>
        {% endfor %}
      </ul>
    {% else %}
      <p>Немає минулих бронювань.</p>
    {% endif %}
  </div>
{% endblock %}