{% extends 'base.html' %}

{% block title %}Кімната{% endblock %}

{% block content %}
          {% if room.images.all %}
          <div id="carouselRoom{{ room.id }}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for image in room.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="Фото кімнати">
                  </a>
                </div>
              {% endfor %}
            </div>
            {% if room.images.count > 1 %}
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselRoom{{ room.id }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselRoom{{ room.id }}" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            {% endif %}
          </div>
          {% else %}
            <div class="text-muted text-center" style="height: 200px; background-color: #f8f9fa; display: flex; align-items: center; justify-content: center;">
              <span>Без фото</span>
            </div>
          {% endif %}
<div class="container">
    <div class="text-center"><h5 class="card-title">Кімната №{{ room.number }}</h5></div>
    <p class="card-text">{{ room.description|default:"Без опису" }}</p>
    <p>Ціна: {{ room.price_per_hour }} грн/год</p>
    <p>Вмістимість: {{ room.capacity }} ос.</p>
</div>
{% endblock %}